/* header, h1, nav, ul, a, li
main, section, p
#neon-diner, #skyscraper, #tokyo-street, #tokyo-restaurant, #palms
.bg-img, .bg-color */

/* Pink: #F72585
Purple: #7209B7
Indigo: #3A0CA3
Blue: #4361EE
Turquoise: #4CC9F0 */

* {
  margin: 0;
  box-sizing: border-box;
}
header {
  min-width: 100svw;
  height: 70px;
  background-color: #3a0ca3;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: sticky;
  top: 0;
}
nav {
  width: 60svw;
  height: 100%;
}
ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  font-size: 16px;
}
a,
a:active,
a:visited {
  text-decoration: none;
  color: #f72585;
}
a:hover li {
  font-size: 22px;
}
main {
  background-color: #4cc9f0;
  min-height: 100svh;
  min-width: 100svw;
}
section {
  min-width: 100svw;
  min-height: 100svh;
  text-align: center;
  padding: 30px;
  line-height: 1.4;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #7209b7;
  display: flex;
  align-items: center;
}
p {
  background-color: #4362ee64;
  border-radius: 20px;
  padding: 10px;
  height: 100px;
}
.bg-img {
  background-color: #4361ee;
  background-position: left bottom;
}
